version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: dbdb
      MYSQL_USER: dbuser
      MYSQL_PASSWORD: db1234!
      MYSQL_ROOT_PASSWORD: root1234!
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend-net

  backend:
    build: .
    container_name: chapter11
    restart: always
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - backend-net

volumes:
  mysql-data:

networks:
  backend-net:
