spring:
  datasource:
    url: jdbc:mysql://mysql:3306/dbdb?useSSL=false&serverTimezone=Asia/Seoul
    username: dbuser
    password: db1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  docker:
    compose:
      enabled: false

server:
  port: 8080
